.App {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------------ */

body {
  background-color: rgba(64, 96, 155, 0.753);
}

.searchBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #58db58;
  border-bottom: #282c34 1px solid;
  position: fixed;
  top: 0;
  z-index: 20;

}

.searchBar>.searchBarInput {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 10px;
  background-color: #58db58;
  justify-content: flex-start;
  align-items: center;
}

.searchBar>.searchBarInput>input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.searchBar>.searchBarUploadContainer>.uploadButton {
  border: 2px solid white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  background-color: #58db58;
  font-weight: 700;
  cursor: pointer;
}

.searchBar>.searchBarUploadContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 10px;
  background-color: #58db58;
  justify-content: flex-end;
  align-items: center;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  margin-top: 65px;
}


.dataContainer>.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
  border: 2px solid white;
  height: 100px;
  position: relative;
  padding: 5px;
}

.card>.cardTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}

.card>.cardLocation {
  display: flex;
  width: 100%;
  flex-direction: row;
}